._bs-animate{
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
}

#_bs-main-container{
    height:0;
    position: fixed;
    top: 50%;
    z-index: 9999;
    width: 100%;
    overflow: hidden;
    min-height: 150px;
}

#_bs-popup{
    background: #ffffff;
    width:0;
    margin-top:-100%;
    box-shadow: 5px 5px 20px #cccccc;
    padding: 15px;
    border-radius: 5px;
}

._bs-shown #_bs-popup{
    width: 70%;
    height: auto;
    top:0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

._bs-button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #f39c12;
    border: 0;
    border-bottom: 2px solid #e8930c;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #e8930c;
    box-shadow: inset 0 -2px #e8930c;
}
._bs-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

._bs-highlighted {
    box-shadow: rgba(243, 156, 18, 1) 0px 0px 3px 2px;
}